.console {
    color: #777;
    overflow: scroll;
}

.signinbutton {
    float: right !important;
    padding: 0;
}

.signincontainer{
    padding:0;
}

#INFO {
    font-weight: bold;
    color: #0000FF;
}

#WARN {
    font-weight: bold;
    color: #FFED00;
}

#DEBUG {
    font-weight: bold;
    color: #247200;
}

#ERROR {
    font-weight: bold;
    color: #ff0100;
}